#kira-animation {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 80px;
	width: 100vw;
	z-index: -1;
	background-color: red;
}

#kira-animation #animation {
	position: absolute;
	animation-name: kuru-slide;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	right: -550px;
	/* background-color: rebeccapurple; */
}

@keyframes kuru-slide {
	100% {
		right: 100vw;
	}
}